.rodape {
    background-color: #0056b3;
    color: white;
    text-align: center;
    padding: 10px 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    border: 2px solid #004085;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
    /* Ajuste a sombra */
}

.rodape div {
    display: flex;
    flex-direction: column;
    /* Organiza os elementos em coluna */
    align-items: center;
    /* Centraliza os elementos horizontalmente */
    margin-top: 1px;
    /* Reduz o espaçamento entre as linhas */
}

.rodape div p {
    margin: 0px 0;
    /* Reduz o espaçamento vertical dentro de cada linha */
}

.rodape a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
}

.rodape a:hover {
    text-decoration: underline;
}