.cabecalho {
    background-color: #0056b3;
    color: white;
    text-align: left;
    width: 100%;
    margin: 0;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    border: 2px solid #004085;
    /* Adiciona borda nos 4 cantos */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    /* Adiciona sombra */
}

.cabecalho h4 {
    margin-top: 5px;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 0.5em;
}

.cabecalho p {
    margin: 5px 0 0;
    font-size: 0.9em;
}

.data-hora {
    position: absolute;
    /* Permite posicionar o elemento de forma independente */
    top: 25px;
    /* Ajuste a posição vertical conforme necessário */
    right: 20px;
    /* Ajuste a posição horizontal conforme necessário */
    font-size: 1.0em;
    /* Diminui o tamanho da fonte */
    font-weight: initial;
}

body {
    margin-top: 100px;
}