/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1, h2, h3 {
    color: #333;
}

h2 span {
    font-weight: bold;
    color: #14107b; /* Destaque para o orçamento carregado */
}

section {
    margin-bottom: 5%;
}

/* Alinhamento horizontal dos elementos do formulário */
form {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
}

form label {
    width: 20%;
    font-size: 1rem;
}

form input {
    width: 100%;
    font-size: 1rem;
    padding: 8px;
    margin: 5px 0;
    border-radius: 8px;
    box-sizing: border-box;
}

/* Estilos para botões de entrada (input buttons) */
form input[type="submit"],
form input[type="button"],
form button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    padding: 20px 60px; /* Ajuste do tamanho do botão */
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover,
form input[type="button"]:hover,
form button:hover {
    background-color: #218838;
}

/* Estilos específicos para a seção "Itens do Orçamento" */
section:nth-of-type(3) {
    background-color: #dcdfe2; /* Fundo discreto azul claro */
    border-radius: 8px;
    padding: 20px;
}

section:nth-of-type(3) button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

section:nth-of-type(3) button:hover {
    background-color: #0056b3;
}

/* Responsividade */
@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }

    section {
        padding: 10px;
    }

    ul {
        padding-left: 20px;
    }

    /* Ajusta o formulário para telas menores */
    form {
        flex-direction: column;
        align-items: stretch;
    }

    form input,
    form button {
        width: 100%;
    }
}

